@font-face {
  font-family: 'Maven Pro';
  src: url('./assets/MavenPro-VariableFont_wght.ttf');
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: url('./assets/background.jpg') no-repeat black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Maven Pro', sans-serif;
}

a {
  text-decoration: none;
  color: #d34822;
}

button,
input {
  font-size: inherit;
  background-color: transparent;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

p {
  margin: 0;
}

#form-query {
  margin-top: 25px;
  margin-right: 50px;
  width: fit-content;
  align-self: end;
  font-size: 1.5rem;
}

.translucent-bg {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 5px;
}

#input-query {
  width: 250px;
}

main {
  position: relative;
  margin: auto 0;
  width: 700px;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'units units'
    'location location'
    'weather icon';
  place-items: center;
}

#p-location {
  grid-area: location;
  align-self: end;
  margin: 20px 0;
  font-size: 2.2rem;
  font-weight: bold;
}

#weather-details {
  grid-area: weather;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#p-condition::first-letter {
  text-transform: uppercase;
}

#icon-weather {
  grid-area: icon;
}

#photo-attribution {
  position: fixed;
  left: 0;
  bottom: 0;
}

#author {
  position: fixed;
  right: 0;
  bottom: 0;
}

#photo-attribution,
#author {
  font-size: 1.2rem;
  padding: 8px 16px;
}

#btn-units {
  grid-area: units;
  justify-self: end;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1.7rem;
}

.bold {
  font-weight: bold;
}
