body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: url('./assets/background.jpg') no-repeat black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #d34822;
}

input:focus {
  outline: none;
}

::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

#form-query {
  margin-top: 25px;
  margin-right: 50px;
  width: fit-content;
  align-self: end;
}

.translucent-bg {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 5px;
}

#input-query,
#btn-submit {
  background-color: transparent;
  border: none;
  font-size: 24px;
}

#input-query {
  width: 230px;
}

main {
  margin: auto 0;
  width: 600px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'location location'
    'weather icon';
  place-items: center;
}

#p-location {
  grid-area: location;
  font-size: 2rem;
  font-weight: bold;
}

#weather-details {
  grid-area: weather;
  font-size: 1.5rem;
}

#p-condition::first-letter {
  text-transform: uppercase;
}

#icon-weather {
  grid-area: icon;
}

#photo-attribution {
  position: fixed;
  left: 0;
  bottom: 0;
}

#author {
  position: fixed;
  right: 0;
  bottom: 0;
}

#photo-attribution,
#author {
  font-size: 1.2rem;
}
